.container-3{
    border: 1px solid black;
    width : 75%;
    margin: 0 auto;
    text-align: center;

}

.flex-box-rps{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-rps img:hover {
    margin: 10px;
    box-shadow: 0px 10px 50px blue;

}

